* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #343A40;
  padding-left: 5%;
  text-align: center;
  margin-bottom: 40px;

}

nav ul {
  max-width: 1280px;
  margin: 0 auto;

}

nav li {
  float: left;
  list-style: none;
  line-height: 70px;
  border-right: 2px solid black;

}

nav a {
  color: #bbb;
  text-decoration: none;
  padding: 0 40px;
  font-size: 24px;
  letter-spacing: 1px;
}

nav ul li a:hover {
  color: white;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;

}

li i {
  margin: 10px;

}

.borderdelete {
  border: none;
}

p {
  padding-left: 20px
}

@media(max-width:1024px){


  nav {
    padding-left: 0%;
    text-align: center;
    margin-bottom: 0px;
    margin: 0;
    width: 100%;
    text-align: center;
  
  }
  
  nav li {
    display: block;
    list-style: none;
    width: 100%;
    line-height: 80px;
  
  }
  
  nav a {
    font-size: 25px;
  }
  
  li i {
    margin: 10px 10px;
  
  }
  
}
